*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "SEBANG_Gothic_Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "국립박물관문화재단클래식B";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '국립박물관문화재단클래식B';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cafe24SsurroundAir';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-font: "Source Sans Pro", sans-serif;
  --secondary-font: "Herr Von Muellerhoff", cursive;
  --body-font: "Cabin", sans-serif;
  --main-font-color-dark: #252525;
  --secondary-font-color: #c59d5f;
  --body-font-color: #515151;
  --sub-font: "SEBANG_Gothic_Bold";
  --sub1-font: "국립박물관문화재단클래식B";
  --site-width: 1700px;
}

html {
  font-family: var(--body-font);
  font-size: 10px;
  color: var(--body-font-color);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 1.6rem;
}
ul li {
  list-style: none;
  color: inherit;
}
.fs-16 {
  font-size: 16px;
}
.fs-22 {
  font-size: 22px;
}
.fs-34 {
  font-size: 34px;
}
.fw-bold {
  font-weight: bold;
}
.color {
  color: #c59d5f;
}
.mt-15 {
  margin-top: 15px;
}
.mg-100 {
  margin-top: 100px;
}

.container {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  margin-top: 70px;
}
@media (max-width: 1700px) {
  .container {
    padding: 0 20px;
  }
}
/*  style  */

/*	header*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  box-sizing: border-box;
  background-color:#e7e7e7;
  transition: .4s;
}
header .header-wrap {
  display: flex;
  align-items: center;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 10px;
  z-index: 1500;
}

.nav.active {
  height: 100px;
}

header.active {
  background-color: rgb(211, 203, 135, 0.9);
  height: 50px;
}

.logo {
  width: 170px;
  height: 60px;
  background: url(../images/logo_on.png);
  position: absolute;
  left: 30px;
}

.nav-list {
  width: calc(100% - 230px);
  margin: 0 auto;
}
.nav-list > ul {
  display: flex;
  justify-content: center;
  font-family: var(--sub-font);
}

header .nav-list > ul > li {
  width: 11%;
  text-align: center;
  padding: 5px;
  text-align: center;
}

header .nav-list > ul > li a{
  color:black;
}

header .nav-list > ul > li a.active {
  color: black;
  line-height: 120%;
}

.nav-list ul li.active {
  padding: 10px 5px;
}

.nav-list ul li a {
  color: white;
  font-size: 20px;
  display: block;
  padding: 20px 0;
}
.menu-toggle {
  width: 40px;
  color: black;
  display: block;
  font-size: 3.2rem;
  position: absolute;
  top: 45px;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1500;
}

.fa-bars {
  color: black;
}

.menu-toggle > .fa-times {
  display: none;
}

.m_nav-list {
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  background-color: #fff;
  padding: 4.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 5555;
  transform: translateX(-100%);
  transition: transform 0.5s;
}

.open .fa-times {
  display: block;
  color: white;
}

.open .fa-bars {
  display: none;
  color: white;
}

.open .m_nav-list {
  transform: translateX(0%);
}

.open .nav::before {
  opacity: 1;
  transform: scale(1);
}

.nav-link {
  display: block;
  color: black;
  text-transform: uppercase;
  font-size: 2.3rem;
  letter-spacing: 2px;
  margin-right: -20px;
  transition: color.5s;
}

.nav-link:hover {
  color: var(--secondary-font-color);
}


/*--  Hero start -  section01-- */
.container01 {
  display: block;
}

.sc01-img {
  width: 100%;
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sc01-img01 {
  background-image: url(../images/visual01.jpg);
}
.sc01-img02 {
  background-image: url(../images/visual02.jpg);
}

.sc01-img03 {
  background-image: url(../images/visual03.jpg);
}

.sc01-img04 {
  background-image: url(../images/visual04.jpg);
}

.sc01-img05 {
  background-image: url(../images/visual05.jpg);
}

.sc01-img06 {
  background-image: url(../images/visual06.jpg);
}

.swiper-slide > .sc01-img {
  width: 100%;
}
.swiper-slide > .sc01-img img {
  width: 100%;
} 

.sc01-wrap .swiper-container .swiper-slide .txt-box {
  position:absolute;
  top:30%;
  left:50%;
  transform: translate(-50% , -50%);
  color: white;
  transition: all 1s;
}

.sc01-wrap .swiper-container .swiper-slide .sc01-img01 .txt-box{
  color:white;
  line-height: 25px;
  width: 100%;
}

.sc01-wrap .swiper-container .swiper-slide  .txt-box{
  line-height: 60px;
}

.sc01-wrap .swiper-container .swiper-slide .sc01-img01 .txt-box .md-mg{
  padding-top:20px;
}

.sc01-wrap .swiper-container .swiper-slide .txt-box{
  text-align: center;
  font-family: '국립박물관문화재단클래식B';
}

.sc01-wrap .swiper-container .swiper-slide .txt-box .tp-txt{
  font-size:85px;
}

.sc01-wrap .swiper-container .swiper-slide .txt-box .md-txt{
  font-size:21px;
  margin-top:15px;
  font-family: 'Cafe24SsurroundAir';
}

.sc01-wrap .swiper-container .swiper-slide .txt-box .bm-txt{
  font-size:14px;
  font-family: 'Cafe24SsurroundAir';
}

.sc01-wrap .swiper-container .swiper-slide .txt-box .tp-txt img{
  width: auto;
  max-width: 100%;
}
.sc01-wrap .swiper-container .swiper-slide-active .txt-box {
  transition: all 1s;
  top : 55%;
}


/* 슬라이더 기초 세팅 끝 */

/* 커스텀 시작 */
/* 좌우 버튼 시작 */

.sc01-wrap .btn-prev,
.sc01-wrap .btn-next {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  z-index: 99;
  font-size: 40px;
  color: #dfdfdf;
  border-right: 2px solid #ddd;
  border-top: 2px solid #ddd;
}
.sc01-wrap .btn-next {
  right: 100px;
  transform: translateY(-50%) rotate(45deg);
}
.sc01-wrap .btn-prev {
  left: 100px;
  transform: translateY(-50%) rotate(-135deg);
}
/* 좌우 버튼 끝 */

/* 네비게이션 추가를 원할 시 이렇게 하면 된다. span으로 디자인 바꾸기 */

/*Hero end*/

/* section02 */
.section02-wrap {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  margin-top: 130px;
}
.mi {
  width: 100%;
  padding-bottom: 20%;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
}
.mi-textbox {
  width: 50%;
  padding: 10px 10px 10px 9.7%;
  margin-top: 65px;
  text-align: justify;
}

.main-tit-sub {
  font-size: 20px;
  font-family: var(--sub1-font);
  color: var(--secondary-font-color);
}

.main-tit {
  font-size: 55px;
  font-weight: bold;
  color: black;
  font-family: var(--sub-font);
}

.mi .mi-subtext {
  margin-top: 30px;
  line-height: 25px;
}

.mi-img {
  width: 50%;
  padding-bottom: 20%;
  background-image: url(../images/mi_img01.jpg);
  background-size: cover;
  background-position: center;
}

/* section03 */
.main-menu .main-titbox {
  text-align: center;
  margin-top:50px
}

.card-inner {
  position: relative;
}

.txtBox {
  display: block;
  color: white;
  padding-right: 30px;
}

.txtBox .tp-txt {
  font-size: 20px;
  position: absolute;
  padding-bottom: 20px;
  border-bottom: 1px solid #ffffff;
  top: 20px;
  left: 20px;
}

.txtBox .bt-txt {
  font-size: 14px;
  position: absolute;
  padding-top: 20px;
  border-top: 1px solid #ffffff;
  bottom: 20px;
  left: 35px;
  display: flex;
}

.txtBox .bt-txt .bt-left {
  padding-right: 20px;
  border-right: 1px solid white;
}

.txtBox .bt-txt .bt-right {
  padding-left: 15px;
  padding-right: 15px;
}
.txtBox .bt-txt .price {
  display: block;
  font-size: 12px;
  font-weight: bold;
}
.txtBox .icon-plus {
  background-image: url(../images/mn_plus.png);
  background-size: auto;
  position: absolute;
  top: 25px;
  right: 20px;
  width: 28px;
  height: 28px;
}

.imgCardSlider-wrap {
  width: 100%;
  max-width: 1700px;
  margin: 50px auto;
}

.imgCardSlider-wrap {
  position: relative;
}

.imgCardSlider-wrap .swiper-slide:nth-last-of-type(2n-1) {
  margin-top: 70px;
}
/* 이미지 */
.imgCardSlider-wrap .swiper-container .swiper-wrapper .swiper-slide .card-inner {
  /* width: 500px; */
  overflow: hidden;
}
.imgCardSlider-wrap .swiper-container .swiper-wrapper .swiper-slide .card-inner img {
  height: 100%;
  transition: 0.5s;
}
.imgCardSlider-wrap .swiper-container .swiper-wrapper .swiper-slide .card-inner img:hover {
  display: block;
  transform: scale(1.1);
}

/* 텍스트박스 추가 */
.imgCardSlider-wrap .swiper-container .swiper-wrapper .swiper-slide .card-inner .txtBox {
  width: 100%;
  text-align: center;
}

/* section03 end */

/* section04 */

.mp {
  width: 100%;
  display: flex;
  padding: 20px;
}

.mp .mp-item {
  width: 50%;
  position: relative;
}
.mp .mp-item .no1 {
  display: none;
}

.mp .mp-item .mp-img {
  width: 100%;
}

.mp .mp-item .mp-img img {
  width: auto;
}
.mp .mp-item .st-2 {
  text-align: right;
  margin-bottom: 30px;
}
.mp .mp-item > .main-titbox {
  margin-bottom: 50px;
}
.mp .mp-item .mp-txt {
  width: 100%;
  max-width: 425px;
  position: absolute;
  right: 20px;
  bottom: 50px;
  background-color: #fff;
  padding-bottom: 70px;
  padding: 66px;
  margin-bottom: -100px;
  margin-top: -100px;
}

.mp .mp-item .mp-txt-right {
  width: 100%;
  max-width: 425px;
  position: absolute;
  left: 10px;
  bottom: -55px;
  background-color: #fff;
  text-align: right;
  padding: 66px;
  margin-bottom: -100px;
}

.mp-box .p-1 {
  font-size: 25px;
  color: #c59d5f;
  font-weight: 400;
}
.mp-box .p-2 {
  font-size: 40px;
  font-weight: bold;
}
.mp-box .p-3 {
  font-size: 25px;
}
.mp-box ul {
  margin-top: 15px;
}
.mp-box ul li {
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  position: relative;
}
.mp-txt ul li::before {
  content: "";
  background: #c27a34;
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  top: 10px;
  left: -10px;
  border-radius: 100%;
  overflow: hidden;
}
.mp-txt-right ul li::before {
  content: "";
  background: #c27a34;
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  top: 10px;
  right: -10px;
  border-radius: 100%;
  overflow: hidden;
}

/* section04 end */

/* section-slider end*/

.con {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  margin-top: 170px;
  padding: 20px;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
}

.flex-grid > * {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.width-25p {
  width: 25%;
}

.img-box > img {
  width: 100%;
  display: block;
}

.height-full {
  height: 100%;
}

/* 커스텀 */
html,
body {
  overflow-x: hidden;
}

@media (max-width: 1220px) {
  .con {
    margin-left: 0;
    margin-right: 0;
  }
}

.floor-info-box {
}

.floor-info-box > ul {
  margin: 0 -10px;
}

.floor-info-box > ul > li {
  margin-top: 20px;
  padding: 0 10px;
}

.floor-info-box > ul > li > div {
  position: relative;
}

.floor-info-box > ul > li > div.on-media-width-small-visible {
  display: none;
}

.floor-info-box > ul > li > div > .img-box {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.floor-info-box > ul > li > div > .img-box::after {
  content: "";
  display: block;
  padding-top: 180%;
}

.floor-info-box > ul > li > div > .txt-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.floor-info-box > ul > li > div > .txt-box > .floor {
  font-size: 3rem;
  font-family: '국립박물관문화재단클래식B';
}

.floor-info-box > ul > li > div > .txt-box > .des {
  font-size: 2rem;
  font-weight: bold;
  font-family: '국립박물관문화재단클래식B';
}

@media (min-width: 1025px) {
  .floor-info-box > ul > li:not(.active) {
    width: calc(50% / 3);
  }

  .floor-info-box > ul > li.active {
    width: 50%;
  }

  .floor-info-box > ul > li.active > div.on-media-width-big-visible {
    height: 100%;
    background-color: gray;
  }

  .floor-info-box > ul > li.active > div.on-media-width-big-visible > .img-box,
  .floor-info-box > ul > li.active > div.on-media-width-big-visible > .txt-box {
    display: none;
  }
}

@media (max-width: 1024px) {
  .floor-info-box > ul > li {
    width: 50%;
  }

  .floor-info-box > ul > li > div.on-media-width-big-visible {
    display: none;
  }

  .floor-info-box > ul > li > div.on-media-width-small-visible {
    display: block;
  }

  .floor-info-box > ul > li > div > .img-box::after {
    padding-top: 73.8095%;
  }
}

@media (max-width: 768px) {
  .floor-info-box > ul > li {
    width: 100%;
  }
}

.slider-box-1 .swiper-slide > .img-box {
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slider-box-1__content-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.slider-box-1__content-box .swiper-pagination {
  position: static;
}

.slider-box-1__content-box .floor {
  font-size: 3rem;
}

.slider-box-1__content-box .des {
  margin-top: 1rem;
  font-size: 3rem;
  font-weight: bold;
}

.slider-box-1__content-box .des2 {
  margin-top: 1rem;
  font-size: 1.5rem;
  word-break: keep-all;
}

.slider-box-1__content-box .swiper-pagination-bullet {
  background-color: white;
  opacity: 1;
  margin: 0 0.5rem;
  position: relative;
}

.slider-box-1__content-box
  .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  width: 100%;
  display: block;
  height: 5px;
  background-color: white;
}

.slider-box-1__btn-pause {
  transform: scale(1.2);
}

.slider-box-1__btn-pause,
.slider-box-1__btn-resume {
  display: block;
  width: 20px;
  text-align: center;
  cursor: pointer;
}

.autoplay-stoped .slider-box-1__btn-pause {
  display: none;
}

.autoplay-started .slider-box-1__btn-resume {
  display: none;
}

.slider-box-1__btn-more {
  display: flex;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
}

.slider-box-1__btn-more > span:last-child {
  margin-left: 0.5rem;
  display: inline-block;
  animation-name: left-and-right;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes left-and-right {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(10px);
  }
}
/* section05 */

.main-insta {
  width: 100%;
  max-width: 1700px;
  margin-top: 150px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.main-insta .insta-image {
  width: 25%;
  padding: 10px;
}

.insta-image a .insta {
  width: 40%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-insta .insta-image img {
  width: 100%;
  overflow: hidden;
  transition: 0.4s;
  border-radius: 5%;
}
.main-insta .insta-image img:hover {
  width: 100%;
  transform: scale(1.1);
}

/* section05 end */

/* map-infomation */
.map-wrap {
  position: relative;
  width: 100%;
  padding-bottom: 800px;
  max-width: 100%;
  margin-top: 150px;
  background-color: #f5f5f5;
}

#map {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.map-info {
  max-width: 1700px;
  position: relative;
}

.map-info .map-box {
  position: relative;
  top: 150px;
  z-index: 111;
  width: 100%;
  max-width: 850px;
  height: 500px;
  float: right;
  background: #fff;
  margin-right: 20px;
  display: flex;
}

.map-info .map-box .map-img {
  width: 30%;
  background: url(../images/mi_bg.jpg) no-repeat 10% 90%;
  background-size: auto 100%;
}

.map-info .map-box .map-txt {
  width: 70%;
  padding: 60px;
  padding-bottom: 20px;
}

.map-info .map-box .map-txt .bigft {
  font-size: 34px;
}

.map-info .map-box .map-txt .mp-ft {
  font-size: 24px;
}

.map-info .map-box .map-txt .mg-15 {
  margin-top: 15px;
}

.map-info .map-box .map-txt .color {
  color: #c59d5f;
}

.map-info .map-box .map-txt .gray {
  color: gray;
}
.map-info .map-box .map-txt .line-box {
  width: 100%;
  padding: 20px 0 20px 60px;
}

.map-info .map-box .map-txt .line-box span {
  display: inline-block;
  padding-right: 10px;
}

.map-info .map-box .map-txt .line-box.tel {
  background: url(../images/icon_tel.png) no-repeat center left;
  width: 100%;
  font-size: 15px;
}

.map-info .map-box .map-txt .line-box.time {
  background: url(../images/icon_time.png) no-repeat center left;
  width: 100%;
  font-size: 15px;
}

/* map-infomation  end*/

/* footer */
.footer-wrap {
  width: 100%;
  background-color: #383431;
  margin-top: 100px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  width: 95%;
  max-width: 1700px;
  margin: 0 auto;
}

.footer-info {
  position: relative;
  background: url(../images/logo_f.png) no-repeat left top;
  background-size: auto;
  color: #b1b7bd;
  padding-left: 462px;
  /* padding-right: 300px; */
  padding-bottom: 20px;
  font-weight: 200;
}

.footer-info .li-16 {
  line-height: 1.6;
}

.footer-info .color-2 {
  color: #cec0b5;
}

.footer-info .color-3 {
  color: #aa988a;
}

.footer-info > p {
  font-size: 1.6rem;
}

.footer-info .copyright {
  color: #786659;
}

.footer-info .right-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 364px;
  display: flex;
}

.footer-info .right-menu .fr-a {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
}

.footer-info .right-menu .fr-btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  background: #55514d;
  position: relative;
  border-radius: 100%;
  position: relative;
  margin: 0 10px;
  vertical-align: middle;
}

.footer-info .right-menu .fr-btn i {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer-info .right-menu .fr-btn .icon-insta {
  background-image: url(../images/insta.png);
  width: 32px;
  height: 32px;
}

.footer-info .right-menu a img {
  width: auto;
  max-width: 100%;
}

.footer-info .right-menu .family-site-box {
  display: block;
  margin: 0 10px;
  position: relative;
  width: 200px;
}

.footer-info .right-menu .family-site-box.on ul {
  display: block;
  transition: 0.5s;
}

.footer-info .right-menu .family-site-box p {
  color: #fff;
  position: relative;
  height: 50px;
  display: block;
}

.footer-info .right-menu .family-site-box p span {
  display: block;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  padding-right: 25px;
  font-size: 19px;
}

.footer-info .right-menu .family-site-box ul {
  display: none;
  transition: 0.4s;
}

.footer-info .right-menu .family-site-box ul li {
  display: block;
  /* border-radius: 1em; */
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  font-weight: 400;
  padding-right: 45px;
  background: #c27a34;
  background-position: 155px center;
  text-align: center;
  border-top: 1px solid #ddd;
}

.footer-info .right-menu .family-site-box .fs-btn {
  position: absoulte;
  display: block;
  /* border-radius: 3em; */
  font-weight: 400;
  padding-right: 45px;
  background: #c27a34 url(../images/icon_fad.png) no-repeat left top;
  background-size: auto;
  background-position: 155px center;
  transition: 0.5s;
  cursor: default;
}

.family-site li span {
  margin-left: 30px;
}
/* footer end*/

/* 반응형 */
@media (max-width: 1550px) {

  .imgCardSlider-wrap .btn-next {
    right: 30px;
  }
  .imgCardSlider-wrap .btn-prev {
    left: 30px;
  }

  .footer-info{
    padding-left: 0;
    padding-top: 80px;
  }

}

@media (max-width: 1220px) {
  .nav{
    padding:40px;
  }
  .nav-list {
    display: none;
  }
  .section02-wrap {
    height: 500px;
    margin-top: 20px;
  }

  .footer{
    padding-top:100px;
  }
  
 

}

@media (max-width: 1024px) {
  
  .sc01-img {
    width: 100%;
    height: 70vh;
  }

  .mi {
    width: 100%;
    display: block;
  }
  .mi-textbox {
    width: 100%;
    text-align: center;
  }

  .mi-subtext > .mo-none {
    display: none;
  }

  .mi-img {
    width: 100%;
    padding-bottom: 50%;
  }

  .main-menu {
    padding-top: 250px;
  }

  .mp {
    display: block;
  }

  .mp .mp-item {
    margin-top: 120px;
  }

  .mp .mp-item .no1 {
    display: block;
    text-align: center;
  }

  .mp .mp-item .no2 {
    display: none;
  }

  .mp .mp-item .mp-txt {
    width: 100%;
    max-width: 425px;
    position: absolute;
    left: 360px;
    bottom: 0;
    background-color: #fff;
    padding: 30px;
    margin-bottom: -100px;
    margin-top: -100px;
  }

  .mp .mp-item .mp-txt-right {
    width: 100%;
    max-width: 425px;
    position: absolute;
    left: 360px;
    bottom: 0;
    background-color: #fff;
    padding: 30px;
    margin-bottom: -100px;
    margin-top: -100px;
    text-align: left;
  }

  .mp-txt-right ul li::before {
    content: "";
    background: #c27a34;
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    top: 10px;
    left: -10px;
    border-radius: 100%;
    overflow: hidden;
  }

  .main-insta .insta-image {
    width: 30%;
  }

  .map-wrap {
    padding: 323px 0 105px;
  }

  #map {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 20%;
  }

  .map-info .map-box {
    position: relative;
    top: -150px;
    z-index: 111;
    width: 100%;
    max-width: 650px;
    height: 500px;
    float: right;
    background: #fff;
  }

  .map-info .map-box {
    width: 96%;
    display: block;
    position: relative;
  }

  .map-info .map-box .map-img {
    width: 100%;
    height: 257px;
    background-size: 100% auto;
  }

  .map-info .map-box .map-txt {
    width: 100%;
    padding: 40px;
    padding-bottom: 20px;
  }

  .footer-wrap {
    margin-top: 400px;
  }

  .footer-info .right-menu {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translate(-50%,0);
    width: 364px;
  }

  .footer-info{
    background-position: center top;
  }

  .footer-info p{
    text-align: center;
  }

}

@media (max-width: 768px) {
  .imgCardSlider-wrap .swiper-slide:nth-last-of-type(2n-1) {
    margin-top: 0px;
  }
  .mp {
    padding: 0px;
  }
  .mp .mp-item {
    width: 100%;
    height: auto;
    display: block;
  }
  .mp .mp-item .mp-img {
    width: 100%;
  }

  .mp .mp-item .mp-img img {
    width: 100%;
  }

  .mp .mp-item .mp-txt {
    width: 90%;
    max-width: 100%;
    position: absolute;
    left: 0;
    background-color: #fff;
    margin-bottom: -100px;
    margin-top: -100px;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }

  .mp .mp-item .mp-txt-right {
    width: 90%;
    max-width: 100%;
    position: absolute;
    left: 0;
    background-color: #fff;
    margin-bottom: -100px;
    margin-top: -100px;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
  .mp-box .p-1 {
    font-size: 15px;
    color: #c59d5f;
    font-weight: 400;
  }
  .mp-box .p-2 {
    font-size: 18px;
    font-weight: bold;
  }
  .mp-box .p-3 {
    font-size: 14px;
  }

  .map-info .map-box .map-txt .bigft {
    font-size: 27px;
  }

  .map-info .map-box .map-txt .ft {
    font-size: 14px;
  }

  .map-info .map-box .map-txt .line-box.tel {
    font-size: 14px;
  }

  .map-info .map-box .map-txt .line-box.time {
    font-size: 13px;
  }

  .main-insta {
    padding: 0;
  }

  .main-insta .insta-image {
    width: 50%;
    padding: 4px;
  }

  .footer-info{
    background-size:213px;
  }
  
  .footer-info p{
    font-size:15px;
  }

  .footer-info .mo-none{
    display: none;
  }
  .footer-wrap {
    margin-top: 440px;
  }

  
}

@media (max-width: 420px) {
  .mi-subtext {
    font-size: 11px;
  }

  .mp-box .p-1 {
    font-size: 12px;
    color: #c59d5f;
    font-weight: 400;
  }
  .mp-box .p-2 {
    font-size: 17px;
    font-weight: bold;
  }
  .mp-box .p-3 {
    font-size: 13px;
  }

  .mp .mp-item .mp-txt ul li {
    font-size: 1px;
    line-height: 12px;
  }

  .mp .mp-item .mp-txt-right ul li {
    font-size: 1px;
    line-height: 12px;
  }

  .main-insta .insta p {
    font-size: 0.6rem;
  }

  .map-info .map-box .map-txt .ft {
    font-size: 10px;
  }

  .footer-info{
    background-size:163px;
  }
  
  .footer-info .right-menu{
    margin-left:40px;
  }

  .footer-info p{
    font-size:12px;
  }

  .footer-info{
    padding-left: 0;
    padding-top: 60px;
  }

  .footer-info .right-menu .fr-a{
    width: 30px;
    height: 30px;
  }

  .footer-info .right-menu .fr-btn{
    width: 40px;
    height: 40px;
  }

  .footer-info .right-menu .family-site-box{
    width: 180px;
    margin:0;
  }

}
